body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  color: #222;
  margin: 0;
  padding: 0;
}

header {
  padding: 60px 20px;
  text-align: center;
}

.subtitle {
  color: #666;
  font-size: 1rem;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.video {
  margin: 30px 0;
}

iframe {
  width: 100%;
  height: 450px;
}

video {
  width: 100%;
  margin: 20px 0;
}

footer {
  text-align: center;
  padding: 40px;
  font-size: 0.9rem;
  color: #777;
}


.profile {
  text-align: center;
  margin-top: 40px;
}

.profile-img {
  width: 220px;
  border-radius: 50%;
  filter: grayscale(100%);
}


